@import "tailwindcss";

@keyframes appear{
  from{
    opacity: 0;
    transform: translateY(20px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.auth-text{
  @apply text-base font-bold 

  md:text-3xl; 
}

.auth-input{
  @apply block w-full h-8 mb-4 pl-2 border border-[#cccccc] rounded-md placeholder-[#cccccc] text-xs placeholder:text-xs

  focus:outline-none focus:ring-1 focus:ring-[#ff8c00]

  md:h-10 md:pl-3 md:text-base md:placeholder:text-base
  lg:h-12 lg:pl-4; 
}

.auth-btn{
  @apply w-full h-10 mt-6 rounded-md text-base font-extrabold

  md:h-12 md:text-lg 
  lg:h-15 lg:text-xl;
}

.orange-btn{
  @apply bg-[#ff8c00] text-white;
}

.gray-btn{
  @apply bg-[#dddddd] text-black;
}